<div class="radioProof" style="margin-bottom: 10px;margin-left: 18px">
    <ul class="{{'radio'+stepIndex+$index}}" style="width:270px;height: auto;border-top: 1px solid #ececec;;">
        <li ng-repeat="radioItem in optionsArr" style="width:100%;height:40px;border-bottom: 1px solid #ececec">
            <div style="font-size:13px;display:inline-block;width: 16px;height:16px;border: 1px solid;box-sizing: border-box;border-radius:8px;margin-top: 10px"></div>
            <input type="text" ng-model="radioItem" ng-change="changeOptions($index)">
        </li>
    </ul>
    <img src="./img/icon/deleteCircle.png" alt="" style="
    position: absolute;
    top:-8px;
    right:-80px" ng-click="deleteTextProof($event,$index)"
         class="{{'delete'+$index}}"
    >
</div>
