<link rel="stylesheet" href="./css/toReview.css">
<div class="review-no" key-events>
    <div class="review-no-left" style="overflow-y: auto">
        <div class="check-header">
            <input type="checkbox" ng-model="masterHeader" ng-click="all(masterHeader)" ng-checked="flag"
                   class="tr-hide-checkbox" id="rnCheckAll"><span class="check-all-text">全选</span>
            <label for="rnCheckAll" class="check-all-label"></label>
            <button id="rnAllow" ng-click="rnRightAllow()">通过</button>
        </div>
        <ul class="check-items">
            <li class="li-header">
                <a href="javascript:;" style="width: 11%">任务编号</a>
                <a href="javascript:;">任务标题</a>
                <a href="javascript:;">单价</a>
                <a href="javascript:;">提交用户id</a>
                <a href="javascript:;">文本描述</a>
                <a href="javascript:;">凭证创建时间</a>
                <a href="javascript:;">凭证提交审核时间</a>
                <a href="javascript:;">审核失败原因</a>
            </li>
            <li ng-repeat="item in reviewNoItems" ng-click="changeRight(item,$index)"
                ng-class="{changeColor:changeColor == $index}">
                <input type="checkbox" ng-model="item.checkState" ng-checked="masterItem"
                       ng-click="cancelOne($event,item.checkState,$index)" id="{{'rn_checkItem'+$index}}"
                       class="tr-hide-checkbox"/>
                <label for="{{'rn_checkItem'+$index}}" class="tr-label-item"></label>
                <p class="nick-name">{{item.id}}</p>
                <p class="nick-name" title={{item.title}}
                   style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{item.title}}</p>
                <p class="nick-name">{{item.amount}}</p>
                <p class="nick-name">{{item.uid}}</p>
                <p class="nick-name" title={{item.text_desc}}
                   style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{item.text_desc}}</p>
                <p class="nick-name" style="text-align: right">{{item.created_time}}</p>
                <p class="nick-name-time" style="text-align: right">{{item.submit_time}}</p>
                <p class="nick-name-time" title={{item.reason}}
                   style="text-align: right;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                    {{item.reason}}</p>
            </li>
        </ul>
    </div>
    <div class="review-no-right">
        <div style="overflow-y: auto;height:calc(100% - 56px)">
            <div ng-repeat="item in reviewNo">
                <p style="color:#4CAF50" ng-show="$index == 0">总赚钱:{{item.amount}}</p>
                <p style="color:red" ng-show="$index == 0">历史被拒:{{item.check_fail}}</p>
                <p style="color:black" ng-show="$index == 0">徒弟:{{item.invited}}</p>
                <p style="color:black" ng-show="$index == 0">注册时间:{{item.regist_time}}</p>
                <p style="color:red" ng-show="$index == 0">本任务被拒:{{item.task_check_fail}}</p>
                <p>{{item.tips_text}}:</p>
                <div class="to-review-right-tel">
                    <p><span ng-hide="item.type == 2 || item.type == 4 || item.type == 3||item.type == 6"><a
                            target="_blank" ng-href="{{item.value}}" class="value-a">{{item.value}}</a></span><a
                            ng-href="{{item.value}}" ng-show="item.type == 6" target="_blank">下载</a>

                        <a ng-href="{{item.value}}" ng-show="item.type == 2 || item.type == 4 || item.type == 3"
                           target="_blank"><img ng-src="{{item.value}}" alt=""
                                                ng-show="item.type == 2 || item.type == 4 || item.type == 3"
                                                width="200px"></a>

                    </p>


                </div>
                <div ng-if="item.type == 5" id="mapDiv" style="position: relative">
                    <div id="cc_map" style="margin-left: 20px;width:100%;height: 200px;margin: 0 auto">
                        {{item.x}} , {{item.y}}
                    </div>
                    <div class="cc_icon" style="width: 1.83rem;   /*2.69rem*/
                                                height: 3rem;  /*3.625rem*/
                                                position: absolute;
                                                top: 24%;
                                                left: 50%;
                                                margin-left: -1.23rem;">
                        <img src="./img/position_icon.png" style="width: 100%"/>
                    </div>
                    <script src="http://api.map.baidu.com/api?v=2.0&ak=VcN7gumC0Wnn475XXWr4FeoyF5YYOVGC&callback=initNo">

                    </script>

                </div>
            </div>
        </div>
        <div class="to-review-right-footer">
            <a href="javascript:;" class="tr-right-prev-one" ng-click="prev()"><i class="pre-icon"></i>上一个</a>
            <a href="javascript:;" class="tr-right-fallow" ng-click="rnRightAllow()"
               style="left:calc(50% - 40px)">通过</a>
            <a href="javascript:;" class="tr-right_next-one ro-right-next-one rn-right-next-one" ng-click="next()">下一个<i
                    class="next-icon"></i></a>
        </div>
    </div>
</div>
