<link rel="stylesheet" href="./css/toReview.css">
<div class="reviewOk">
    <div class="reviewOk_left" style="overflow-y: auto">
        <div class="checkHeader">
            <input type="checkbox"  ng-model="masterheader" ng-click="all(masterheader)" ng-checked="flag" class="tr_hideCheckBox" id="ro_checkAll"><span class="checkAllText">全选</span>
            <label for="ro_checkAll" class="checkAll_label"></label>
        </div>
        <ul class="checkItems" >
            <li ng-repeat="item in reviewOkItems" ng-click="changeRight(item,$index)" ng-class="{changeColor:changeColor == $index}">
                <input type="checkbox"  ng-model="item.checkState" ng-checked="masterItem" ng-click="cancelOne($event,item.checkState,$index)" id="{{'ro_checkItem'+$index}}" class="tr_hideCheckBox"></input>
                <label for="{{'ro_checkItem'+$index}}" class="tr_labelItem" ></label>
                <p class="nickName">{{item.uid}}</p>
                <p class="nickName_time">{{item.submit_time}}</p>
            </li>
        </ul>
    </div>
    <div class="reviewOk_Right">
        <div style="overflow-y: auto;height: 538px">
            <div ng-repeat="item in reviewOk">
                <p>{{item.tips_text}}:</p>
                <div class="toReview_Right_tel">
                    <p><span ng-hide="{{item.type == 2 || item.type == 6}}">{{item.value}}</span><a target="_blank" ng-href="{{item.value}}" ng-show="{{item.type == 6}}">下载</a>

                        <img ng-src="{{item.value}}" alt="" ng-show="{{item.type == 2 || item.type == 4 || item.type == 3}}" width="200px">

                    </p>


                </div>
                <div ng-if="item.type == 5" id="mapDiv"  style="position: relative">
                    <div id="cc_map" style="margin-left: 20px;width: 500px;height: 200px">
                        {{item.x}} , {{item.y}}
                    </div>
                    <div class="cc_icon" style="width: 1.83rem;   /*2.69rem*/
                                                height: 3rem;  /*3.625rem*/
                                                position: absolute;
                                                top: 24%;
                                                left: 50%;
                                                margin-left: -1.23rem;">
                        <img src="./img/position_icon2.png" style="width: 100%"/>
                    </div>
                    <script src="http://api.map.baidu.com/api?v=2.0&ak=VcN7gumC0Wnn475XXWr4FeoyF5YYOVGC&callback=initOk">

                    </script>

                </div>
            </div>
        </div>
        <div class="toReview_Right_footer">
            <a href="javascript:;" class="tr_Right_prevOne" ng-click="prev()"><i class="pre_icon"></i>上一个</a>
            <a href="javascript:;" class="tr_Right_nextOne ro_Right_nextOne" ng-click="next()">下一个<i class="next_icon"></i></a>
        </div>
    </div>
</div>
  