<link rel="stylesheet" href="./css/reviewDetail.css">
<div style="height: 100%;"><!--ng-controller="firstPage"-->

    <div class="bread" >
        <a ui-sref="reviewList" id="bread-taskList" style="color: rgba(0,0,0,0.54);">审核列表<span>/</span></a>
        <a id="reviewId">编号{{reviewId}}</a>
    </div>

    <div class="reviewDetail_searchArea">
        <button class="search-Btn-reviewDetail" ng-click="searchCheckBydate()">搜索</button>
        <input type="text" class="search-Input" id="search_Input" ng-model="reviewuserID">
    </div>
    <div class="reviewDetail_radio">
        <span ng-click="setChoose(1)">
            <i  class="circlechoose" ng-class="{chooseBg:chooseType == 1}"></i><span class="text">用户ID</span>
        </span>
        <span ng-click="setChoose(2)">
            <i  class="circlechoose" ng-class="{chooseBg:chooseType == 2}"></i><span class="text">任务编号</span>
        </span>
    </div>
    <div  id="submitTime">
        <input style="  border: none;
                        width: 150px;
                        height: 20px;
                        border-radius: 5px;
                        margin-left: -50px;
                        margin-top: 10px;
                        font-family: PingFangSC-Regular;
                        font-size: 13px;
                        color: rgba(0,0,0,0.87);
                        line-height: 20px;
                        background: #ececec;
                        background-image: url(../img/xiasanjiao.png);
                        background-repeat: no-repeat;
                        background-position: right center;
                        "
        type="text"  ngc-lay-date class="selSubTime" ng-model="subTime" id="selSubTime" placeholder="提交时间" ng-change="changeTime()">

        </input>
    </div>

    <div class="reviewDetail_detail">
        <!-- <h2>审核列表界面</h2>
         <input ng-model="newtask"></input>
         <div>{{newtask}}</div>-->
        <div class="tabs_header">
            <a ui-sref="reviewDetail.tab1"  class="tabs_header_1" ng-click="changeTabBorder(0)" ng-class="{tabs_header_selected:tabSelected==0}">待审核</a>
            <a ui-sref="reviewDetail.tab2"  class="tabs_header_2" ng-click="changeTabBorder(1)" ng-class="{tabs_header_selected:tabSelected==1}">审核通过</a>
            <a ui-sref="reviewDetail.tab3"  class="tabs_header_3" ng-click="changeTabBorder(2)" ng-class="{tabs_header_selected:tabSelected==2}">审核不通过</a>
        </div>
        <div ui-view></div>
    </div>
</div>
