<div class="showText" style="position: relative;font-size: 13px;color: #B1B1B1;
    width: 320px;
    height: 20px;
    transform: scale(0.8);
    margin-left: -15px;
    visibility: visible;
    margin-bottom: 10px;
    "><span ng-hide="componentItem.tips_text">提示文本</span><pre>{{componentItem.tips_text}}</pre>
    <input type="text" ng-hide="componentItem.tips_text.length<0" ng-model="componentItem.tips_text" style="position: absolute;
    top:0px;
    left: 365px;
    border: none;
    font-size: 13px;
    WIDTH: 300px;
    height: 30px;
    line-height: 30px;
    visibility: hidden;
    ">
    <img src="./img/icon/deleteCircle.png" alt="" style="
    position: absolute;
    top:-8px;
    right:-16px" ng-click="deleteOne($event,$index)"
    id={{'delete'+textIndex+$index}} ng-show="componentItem.tips_text" class="delCircle"
    >
</div>