<!--添加步骤模板页-->
<div class="stepTemp clearfix" >
    <p class="stepIndex"><span>步骤{{stepItem.index}}{{stepItem.oldSteps.status == 0? '禁用' : '启用'}}<!--{{stepItem.title}}--></span><a href="javascript:;" ng-click="removeStep($index)">删除此步</a></p>
    <div class="stepTemp_content ">
        <div class="addbuttons">
            <a href="javascript:;" ng-click="textProof($index)" id="{{'tesxproof'+$index}}">+文本凭证</a>
            <a href="javascript:;" ng-click="imgProof($index)" id="{{'imgproof'+$index}}" ng-mouseover="showOtherType()">+图片凭证</a>
            <a href="javascript:;" ng-click="posProof($index)" id="{{'posproof'+$index}}">+位置凭证</a>
            <a href="javascript:;" ng-click="audioProof($index)" id="{{'audioproof'+$index}}">+录音凭证</a>
            <a href="javascript:;" ng-click="showText($index)" id="{{'showtext'+$index}}">+显示文本</a>
            <a href="javascript:;" ng-click="showImg($index)" id="{{'showimg'+$index}}">+显示图片</a>
            <a href="javascript:;" ng-click="imgProof($index,3)" id="{{'imgPhoto'+$index}}" ng-show="typePhoto">图片(相册)</a>
            <a href="javascript:;" ng-click="imgProof($index,4)" id="{{'imgCamera'+$index}}" ng-show="typeCamera">图片(拍照)</a>
        </div>
        <div class="middleView ">
            <ul  ng-model = "middleItems" ui-sortable="sortableOptions" class="temp_md_ul"  id="{{'imgUrl'+$index}}">
                <div style="height: 80px;width: 100%"></div>
                <!--<div style="overflow-y:auto;">-->
                        <div class="oldStep" style="width: 300px;padding-bottom: 100px;">
                            <input  style="display: block;width: 100px;height: 30px;line-height: 30px;border:none;margin-left: 6px;font-size: 16px" type="text" ng-model="stepItem.oldSteps.title" placeholder="步骤名称">
                            <textarea style="display: block;width: 288px;height:60px;margin-left: 6px;font-size: 13px" ng-model="stepItem.oldSteps.desc" placeholder="步骤描述"></textarea>
                            <div style="width: 288px;height: 200px;margin-left: 6px">

                                <input placeholder="Url" style="display: block;width: 282px;height: 30px;line-height: 30px;border:none;margin-left: 0px;font-size: 16px;margin-top: 10px;margin-bottom: 10px" type="text" ng-model="stepItem.oldSteps.url">
                                <p ng-repeat="img in stepItem.oldSteps.images_list track by $index"> <!--ng-show="stepItem.oldSteps.images_list"-->
                                    <textarea type="text" ng-model="img" style="width: 100%;border: none;" class="imgUrl" placeholder="图片地址"></textarea>
                                    <a target="_blank"  ng-href="{{img}}"><img  ng-src="{{img}}" alt="" style="display: block;width: 100%;height: 100%"></a>
                                </p>

                            </div>


                        </div>

                        <li ng-repeat="componentItem in stepItem.component" id="{{'componentItem'+$index}}" style="width: 288px;height:auto">
                            <div>
                                <showtext-module ng-show="componentItem.isText&&componentItem.status == 1 || componentItem.tips_text&&componentItem.status == 1"></showtext-module>
                                <showimg-module ng-show="componentItem.tips_image && componentItem.status ==1"></showimg-module>
                                <textproof-module ng-show="componentItem.type == 1 && componentItem.status ==1">

                                </textproof-module>

                                <imgproof-module ng-show="{{(componentItem.type==2 || componentItem.type==3 || componentItem.type==4) && componentItem.status ==1}}"></imgproof-module>
                                <posproof-module ng-show="{{componentItem.type==5 && componentItem.status ==1}}"></posproof-module>
                                <audioproof-module ng-show="{{componentItem.type==6 && componentItem.status ==1}}"></audioproof-module>

                            </div>
                        </li>
                <!--</div>-->
                        <!--<li ng-repeat="componentItem in stepItem.component" id="{{'componentItem'+$index}}" style="border-top: 1px solid #c3c3c3;width: 288px;height: 200px">
                            <div>
                                &lt;!&ndash;<p ng-show="{{componentItem.type == 1}}">文本凭证</p>
                                <p  style="font-size: 13px;color: #c3c3c3">提示文本</p>
                                <textarea type="text" ng-show="{{componentItem.type == 1}}" ng-model="componentItem.tips_text" style="width: 288px;
                                height: 20px;
                                border-radius: 8px;">
                                <div ng-show="{{componentItem.type == 2}}" style="width: 288px;height: 200px;margin-left: 6px">
                                    <p>提示图片</p>
                                    <textarea type="text" ng-model="componentItem.tips_image" style="width: 100%;border: none;" class="imgUrl" placeholder="图片地址"></textarea>
                                    <img ng-src="{{componentItem.tips_image}}" style="display: block;width: 100%;height: 100%"></img>
                                </div>&ndash;&gt;
                                <textproof-module ng-show="{{componentItem.type == 1}}"></textproof-module>
                                <imgproof-module ng-show="{{componentItem.type==2}}"></imgproof-module>
                                <showtext-module ng-show="{{componentItem.tips_text == 5}}"></showtext-module>
                                <showimg-module ng-show="{{componentItem.tips_image == 6}}"></showimg-module>
                            </div>
                        </li>-->
            </ul>
        </div>
    </div>
</div>