<link rel="stylesheet" href="./css/toReview.css">
<div class="toReview" key-events >

    <div class="toReview_left" style="overflow-y: auto">
        <div class="checkHeader">
            <input type="checkbox"  ng-model="masterheader" ng-click="all(masterheader)" ng-checked="flag" class="tr_hideCheckBox" id="checkAll"><span class="checkAllText">全选</span>
            <label for="checkAll" class="checkAll_label"></label>
            <button id="allow" ng-click="trRightAllow()">通过</button>
            <button id="reject" ng-click="showrejCoverFn()">拒绝</button>
        </div>
        <ul class="checkItems" >
           <li ng-repeat="item in toReviewItems" ng-click="changeRight(item,$index)" ng-class="{changeColor:changeColor == $index}">
                <input type="checkbox"  ng-model="item.checkState" ng-checked="masterItem" ng-click="cancelOne($event,item.checkState,$index)" id="{{'tr_checkItem'+$index}}" class="tr_hideCheckBox"></input>
                <label for="{{'tr_checkItem'+$index}}" class="tr_labelItem" ></label>
                <p class="nickName">{{item.uid}}</p>
                <p class="nickName_time">{{item.submit_time}}</p>
           </li>
        </ul>
    </div>
    <div class="toReview_Right" >
        <div style="overflow-y: auto;height:calc(100% - 56px);">
            <div ng-repeat="item in toReview">
                <p style="color:#4CAF50" ng-show="$index == 0">总赚钱:{{item.amount}}</p>
                <p style="color:red" ng-show="$index == 0">历史被拒:{{item.check_fail}}</p>
                <p style="color:black" ng-show="$index == 0">徒弟:{{item.invited}}</p>
                <p style="color:black" ng-show="$index == 0">注册时间:{{item.regist_time}}</p>
                <p style="color:red" ng-show="$index == 0">本任务被拒:{{item.task_check_fail}}</p>
                <p>{{item.tips_text}}:</p>
                <div class="toReview_Right_tel">
                    <p><span ng-hide="{{item.type == 2 || item.type == 6}}">{{item.value}}</span><a target="_blank" ng-href="{{item.value}}" ng-show="{{item.type == 6}}">下载</a>

                        <a ng-href="{{item.value}}" ng-show="item.type == 2 || item.type == 4 || item.type == 3" target="_blank"><img ng-src="{{item.value}}" alt="" ng-show="{{item.type == 2 || item.type == 4 || item.type == 3}}" width="200px"></a>

                    </p>


                </div>
                <div ng-if="item.type == 5" id="mapDiv" style="position: relative">
                    <div id="cc_map" style="margin-left: 20px;width: 500px;height: 200px">
                        {{item.x}} , {{item.y}}
                    </div>
                    <div class="cc_icon" style="width: 1.83rem;   /*2.69rem*/
                                                height: 3rem;  /*3.625rem*/
                                                position: absolute;
                                                top: 24%;
                                                left: 50%;
                                                margin-left: -1.23rem;">
                        <img src="./img/position_icon2.png" style="width: 100%"/>
                    </div>
                    <script src="http://api.map.baidu.com/api?v=2.0&ak=VcN7gumC0Wnn475XXWr4FeoyF5YYOVGC&callback=init">

                    </script>

                </div>
            </div>
        </div>
        <div class="toReview_Right_footer">
          <a href="javascript:;" class="tr_Right_prevOne" ng-click="prev()"><i class="pre_icon"></i>上一个</a>
                <a href="javascript:;" class="tr_Right_fallow" ng-click="trRightAllow()">通过</a>
                <a href="javascript:;" class="tr_Right_reject" ng-mouseenter="showrejCover = true">拒绝</a>
                <a href="javascript:;" class="tr_Right_nextOne" ng-click="next()">下一个<i class="next_icon"></i></a>
        </div>
        <div class="tr_reject clearfix" ng-show="showrejCover">
            <ul class="reason_cover" >
                <li class="reason_header">拒绝原因</li>
                <li id="{{'reson_detail'+$index}}"
                    ng-repeat="reason in reasonLists" ng-mouseover="changeReasonbg($index,e)"
                    ng-class="{cbg:bg==$index}"
                    ng-click="subReason($event,$index)"
                    ng-keyup="keyControl($event)">
                    {{reason.reasonText}}
                </li>
                <li class="input_other_reason">
                    <input type="text" name="orderReason" id="orderReason"
                           ng-keyup="subotherReason($event)"   ng-model="otherReason" placeholder="请填写其它原因">
                </li>
            </ul>
        </div>
    </div>
</div>


