.audio-proof-wrap{
    overflow-wrap: break-word;
    margin-left: 12px;
    padding-top: 2px;
    width: 276px;
    height: 69px;
    background: url('../img/moduleImg/rectangle_audio.png');
    position: relative;
}
.audio-proof-wrap .tips{
    position: absolute;
    width:80px;
    color: gray;
    font-size: 13px;
    top:-10px;
    left:0px;
}
.audio-proof-text{
    width: 280px;
    height: 25px;
    margin: 0 auto;
    margin-top: 3px;
    text-align: center;
    color: gray;
    font-size: 13px;
}
.audio-proof-textarea{
    border: none;
    width: 292px;
    position: absolute;
    top: 0;
    left: 300px;
    height: 69px;
    visibility: hidden;
    padding: 5px;
}
.audio-proof-text p{
    word-break: break-all;
    width:250px;
    margin-left: 12px;
    height:auto;
}
.audio-proof-img{
    position: absolute;
    top:-8px;
    right:0px;
}