.clearfix{
    clear: both;
}
.clearfix:after{
    content:'';
    display: block;
    clear: both;
}
.newStep .bread{
    width: auto;
    height:auto;
    margin-left: 16px;
    margin-top: 16px;
}
.newStep .bread a{
    text-align: center;
    text-decoration: none;
}
.newStep .bread #bread_newStep{
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: rgba(0,0,0,0.20);
}
.bread #bread_newStep span{
    margin-left: 8px;
}
.newStep .bread #bread_newStepMessage{
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: rgba(0,0,0,0.87);
    margin-left: 8px;
}

.stepModule_ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/*模板块*/
.stepTemp{
    width: 100%;
    height: 580px;
    margin: 0 auto;
    border-top: 1px solid #cccccc;
    margin-top: 30px;
}
.stepIndex{
    margin-left: 365px;
    margin-top: 15px;
}
.stepTemp .stepIndex span{
    font-family: PingFangSC-Regular;
    font-size: 13px;
    margin-left: -65px;
}
.stepTemp .stepIndex a{
    display: inline-block;
    margin-left: 25px;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #727272;
}
stepTemp_content{
    position: relative;
    float: left;
}
.addbuttons{
    margin-left: 300px;
    width: 100px;
    float: left;
}
.addbuttons a{
    display: block;
    text-decoration: none;
    color: white;
    width: 93px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    background: #009688;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    border-radius: 2px;
    margin-top: 15px;
    letter-spacing: 0.5px;
}
.addbuttons a:nth-child(1){
    margin-top: 65px;
}
.addbuttons a:nth-child(7){
    background: #03A9F4;
}
.addbuttons a:nth-child(8){
    background: #03A9F4;
}
.temp_md_ul{
    float: left;
    margin-left: 32px;
    margin-top: 16px;
    list-style: none;
    /*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);*/
    height: 505px;
    list-style: none;
    width: 620px;
    position: absolute;
    left: 500px;
    background: url("../img/stepTemBg.png") no-repeat 1px;
    background-size: 48% 100%;
    background-attachment:scroll;
    border-right: none;
    overflow-y: auto;
    padding-bottom: 35px;
   
}
.btn_addStep{
    text-align: center;
}
.btn_addStep a:hover{
    cursor:pointer;
}

.btn_addStep a{
    display: block;
    text-decoration: none;
    border: none;
    outline: none;
    width: 56px;
    height: 56px;
    background: #009688;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.12), 0 6px 6px 0 rgba(0,0,0,0.24);
    border-radius: 28px;
    text-align: center;
    color: white;
    line-height: 50px;
    font-size: 28px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 80px;
}
.btn_addStep div{
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #009688;
    margin-top: -70px;
}

/*footer按钮*/
.as_prePage,.as_saveTask{
    display: block;
    float: left;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: rgba(0,0,0,0.54);
    width: 80px;
    height: 40px;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #cccccc;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    margin-top: 12px;
    margin-left: 45px;
}
.as_saveTask{
    background: #2DB7F5;
    color: white;
    margin-right: 10px;
    margin-left: 8px;
}
.addStep_footer{
    background: white;
}
.ad_footer_center{
    width: 250px;
    height: 64px;
    margin: 0 auto;

}